.Item {
  * {
    transition: all 200ms ease-in-out;
  }
  position: relative;
  border-radius: 2rem;
  width: 100%;
  background: #f5f5f5;
  text-align: center;
  padding: 10px;
  height: min-content;
  box-shadow: 4px 4px 5px #3434345d;
  &__options {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  &__img {
    width: 100%;
    height: initial;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: .5px .5px 5px #000;
  }
  &:hover {
    background: #ffffff;
    cursor: pointer;
    transform: translatey(-2px);
    img {
      z-index: -1;
      transform: scale(1.1);
    }
  }
}
