.ItemListContainer {
    margin: 1rem 0px 0px;
    width: 100%;
    padding: 1rem;
    color: #000;
    &__cards {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: .5rem;
    }
  }