.ItemListContainer {
    margin: 5rem 0px 0px;
    width: 80%;
    padding: 1rem;
    color: #000;
    &__cards {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;   
    }
  }