:root {
  --color-verdeOscuro: #026d2e;
  --color-verdeClaro: #47ac71;
  --color-rojoOscuro: #950000;
  --color-rojoClaro: #ff2a5b;
  --color-negro: #000;
  --color-negroClaro: #111;
  --color-blanco: #fff;
  --bg-color: #ffffff;
  --text-color: #ffffff;
  --main-font: 2.2rem;
  --p-font: 1.1rem;
}

html {
  scroll-behavior: smooth;
}

/* botones */

* .btn-verde {
  color: #fff;
  background-color: var(--color-verdeClaro);
  border-radius: 20px;
}

* .btn-verde:hover {
  background-color: var(--color-verdeOscuro);
}

* .btn-rojo {
  color: #fff;
  background-color: var(--color-rojoClaro);
  border-radius: 20px;
}

* .btn-rojo:hover {
  background-color: var(--color-rojoOscuro);
}

* .btn-gris {
  cursor: pointer;
  color: #ffffff;
  background-color: var(--color-rojoOscuro);
  border-radius: 20px;
  padding: 3px 10px;
  border: none;
}

* .btn-gris:hover {
  background-color: #292929;
}

/* LOGO */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
/* NabVar */
@import './NavBar';
/* ItemListContainer */
@import './ItemListContainer'