// Paleta de colores -> https://coolors.co/e1869f-eac2cf-eee0e7-f2fdff-818b9a-495268-101935
@tailwind base;
@tailwind components;
@tailwind utilities;

$rose-pompadour: #e1869fff;
$fairy-tale: #eac2cfff;
$lavender-blush: #eee0e7ff;
$azure-web: #f2fdffff;
$slate-gray: #818b9aff;
$charcoal: rgb(52, 53, 58);
$oxford-blue: #101935ff;
$black: #000;
$font-logo: "Cinzel Decorative", cursive;
$font-text: "Maven Pro", sans-serif;

html {
  scroll-behavior: smooth;
}
/* LOGO */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-text;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body{
  background: $lavender-blush;
}

* img{
  pointer-events: none;
}

* .font-family-title{
  font-family: $font-logo;
  font-weight: 700;
}
/* NabVar */
@import "./NavBar";
/* BodyContainer */
@import './BodyContainer';
/* ItemSliderContainer */
@import './CarrucelContainer';
/* ItemListContainer */
@import "./ItemListContainer";
/* ItemList */
@import "./ItemList";
/* ItemCount */
@import "./Item";