// Paleta de colores -> https://coolors.co/e1869f-eac2cf-eee0e7-f2fdff-818b9a-495268-101935
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./Utilidades";
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-text;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth
}

// body {
//   background: $lavender-blush;
// }

/* Home */
@import "../pages/Home";
/* NabVar */
@import "../components/Navbar/Navbar";
/* ItemCount */
// @import "../components/ItemListContainer/Item";
/* PoliticaDevolucion */
@import "../pages/Devolucion";
