.my-politica-dev {
  position: relative;
  &__line {
    position: absolute;
    top: 0;
    left: 1rem;
    height: 100%;
    border: 2px solid #aeaeae;
  }
  &__options {
    z-index: 5;
    gap: 3rem;
    .target {
      z-index: 2;
      background-color: #fff;
      justify-content: space-evenly;
      align-items: center;
      height: max-content;
      display: flex;
      border-radius: 1rem;
      box-shadow: 5px 5px 10px $lavender-blush;
      span {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
      div {
        padding: 1rem 1rem;
        h5 {
          font-weight: 600;
        }
      }
    }
  }
}
