.my-navbar {
  top: 0;
  width: 100%;
  z-index: 60;
  background: #f6f3f3f0;
  backdrop-filter: blur(10px);

  &-list-items {
    position: relative;
    li {
      display: flex;
      flex-direction: column;
      span {
        transition: all 500ms ease-out;
        width: 30%;
      }
      &:hover span {
        width: 100%;
        outline: 1px solid #000;
      }
    }
  }
}
.list-prod {
  background: #fff;
  transition: all 500ms ease-in-out;
  position: absolute;
  padding: 1rem 0px;
  z-index: 50;
  top: -100vh;
  width: 100%;
}
.list-active {
  top: 4rem;
}

.my-navbar-mobile {
  transition: all 500ms ease-in-out;
  background: #fff;
  position: absolute;
  display: flex;
  height: 100vh;
  width: 80%;
  .list-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    height: 100vh;
    li {
      list-style-image: url("../asset/image/ico/punto.png");
      font-size: 1.2rem;
    }
    &-sub {
      li {
        font-size: 0.9rem;
        list-style-image: none;
      }
    }
  }
}
